@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  box-sizing: border-box;
  font-family: Montserrat;
  background-color: #282828;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #ffff;
  text-decoration: none;
}

h2 {
  color: #ffff;
  font-size: 1.3em;
  font-weight: 900;
  grid-column: -1/1;
  margin: 10px 10px 10px 10px;
}

.cta-big {
  color: white;
  text-transform: uppercase;
  background-color: #f06332;
  padding: 10px 60px;
  font-size: 1em;
  border-radius: 20px;
}

.cta-big:hover {
  color: #ffff;
  background-color: #404040;
}

.cta-small {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 10px 30px;
  margin: 5px;
  border-color: #ffff;
  border: 1px solid;
  text-align: center;
}

.cta-small-viewmore {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 10px 30px;
  margin: 5px;
  border-color: #ffff;
  border: 1px solid;
  text-align: center;
  float: right;
}

.cta-small:hover {
  color: #f06332;
}

/* Navigation */

.main-nav-1 ul {
  display: grid;
  grid-gap: 0px;
  padding: 5px 10px 10px 5px;
  list-style: none;
  grid-template-columns: repeat(4, 100px);
  justify-content: left;
}

.main-nav-1 a {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.main-nav-1 a:hover {
  color: #f06332;
}

.main-nav-2 ul {
  display: grid;
  grid-gap: 20px;
  padding: 10px 5px 10px 5px;
  list-style: none;
  grid-template-columns: repeat(4, auto);
}

.main-nav-2 a {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.main-nav-2 a:hover {
  color: #f06332;
}

.logo {
  cursor: pointer;
  max-width: 110px;
  grid-column: 2;
  padding: 0;
  margin: 0px 0px 0px 0px;
  align-items: center;
}

.icons {
  display: grid;
  grid-gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(2, 20px);
}

.fa-heart {
  color: #f06332;
  font-size: 20px;
}

.fa-heart:hover {
  color: #ffff;
}

.fa-shopping-bag {
  color: #f06332;
  font-size: 20px;
}

.fa-shopping-bag:hover {
  color: #ffff;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.menu {
  display: grid;
  grid-gap: 10px;
  box-sizing: border-box;
  background: #404040;
  padding: 10px;
}

.container_textheader {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  color: #b9b8b8;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 200;
  width: auto;
  padding: 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.main-nav-2 {
  grid-column: 4;
  grid-row: 1;
  justify-self: end;
}

.main-nav-1 {
  grid-column: 1;
  align-items: center;
}

.icons {
  grid-column: 4;
  justify-self: center;
  align-items: center;
}

/* CONTAINER */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "container-1 container-2 container-3"
    "container-1 container-2 container-3";
  margin: 30px;
  padding: 0px 50px 0px 0px;
}

.container-1 img {
  width: 400px;
}

.container-1 {
  grid-area: container-1;
}

.container-2 {
  grid-area: container-2;
}

.container-3 {
  grid-area: container-3;
}

.box {
  color: #ffff;
  background-color: #707070;
  width: 400px;
  padding: 4px;
  margin: 10px;
}

.box p {
  font-size: 1em;
}

/* BUTTONS CONTAINER*/
.btns {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.browse-games-btn {
  color: #ffff;
  border: 1px solid;
  border-color: #f06332;
  padding: 20px;
  text-align: center;
}

.browse-games-btn a {
  font-size: 1.5em;
}

/* RECENTLY BOUGHT */
.recently-bought-box {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  margin: 20px;
}

.recently-bought img {
  width: 100%;
}

.recently-bought h3 {
  color: #ffff;
  text-align: left;
  font-size: 1em;
  padding: 10px 0px 0px 50px;
}
