@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  font-family: Montserrat;
  background-color: #282828;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
}

.container {
  display: flex;
  padding: 30px 20px;
  flex-wrap: wrap;
}

.container_textheader {
  order: 1;
  position: absolute;
  left: 40%;
  top: 20px;
}

.container_nav {
  order: 2;
  position: absolute;
  left: 1000px;
  top: 20px;
}

h1 {
  color: #b9b8b8;
  font-size: small;
  font-style: normal;
  font-weight: 300;
  width: 200px;
  padding: 5px 1%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.mainheader {
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 0px 50px 0px;
  box-sizing: border-box;
  background: #404040;
}

.fa-heart {
  color: #f06332;
  position: absolute;
  left: 400px;
  font-size: 15px;
}

.fa-heart:hover {
  color: #ffff;
}

.fa-shopping-bag {
  color: #f06332;
  position: absolute;
  left: 430px;
  font-size: 15px;
}

.fa-shopping-bag:hover {
  color: #ffff;
}

.menu_profile ul {
  align-items: center;
  padding: 2px 1%;
}

.logo {
  cursor: pointer;
  max-width: 100px;
}

nav {
  display: none;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #f06332;
}

.hamburger-menu_nav {
  position: relative;
}

.fa-bars {
  position: fixed;
  top: 100px;
  left: 25px;
  font-size: 26px;
}

.hamburger-menu_nav ul {
  list-style: none;
}

/* Homepage HEADER */

.welcome {
  background-image: url("../images/Header-image.jpg");
  background-size: cover;
  min-height: 30vh;
  position: relative;
}

.welcome_content {
  position: absolute;
  text-align: right;
  top: 120px;
  left: 250px;
  text-align: center;
}

.welcome h1 {
  font-size: 0.7em;
  margin: 20px 0px;
  font-weight: bolder;
  color: #ffff;
  width: 200px;
  background-color: #404040;
}

.cta_big {
  color: white;
  text-transform: uppercase;
  background-color: #f06332;
  padding: 10px 60px;
  font-size: 1em;
  border-radius: 20px;
}

.cta_big:hover {
  color: #ffff;
  background-color: #404040;
}

.cta-small {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 10px 30px;
  margin: 10px;
  border-color: #ffff;
  border: 1px solid;
  text-align: center;
}

.cta-small:hover {
  color: #f06332;
}

.view-more {
  grid-column: -1/1;
  position: absolute;
  padding: 10px 10px;
  margin: 5px;
  border: 1px solid;
  border-color: #ffff;
  top: 55px;
  right: 21px;
}

.view-more:hover {
  color: #f06332;
}

.hot-now,
.discover,
.news,
.pre-purchase,
.sell {
  color: white;
}

h2 {
  font-size: 1.2em;
  font-style: normal;
  font-weight: 500;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

#hamburger-menu {
  display: none;
}

.mainheader {
  justify-content: space-evenly;
}

nav {
  display: none;
}

.fa-bars {
  display: block;
}

/* HOT NOW */

.hot-now {
  display: grid;
  grid-template-columns: repeat(1fr);
  padding: 10px 30px;
  margin: 50px 5px;
  grid-gap: 10px 50px;
}

.hot-now > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-auto-rows: minmax(50px, auto);
}

.hot-now_products a {
  grid-column: 1;
  padding: 10px;
  width: 100px;
}

.hot-now_products p {
  grid-column: 4;
  justify-items: end;
}

.hot-now h2 {
  grid-column: -1/1;
}

.hot-now img {
  width: 100%;
  grid-column: -1/1;
}

/* DISCOVER */

.discover-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.discover_gametext {
  display: flex;
  flex-direction: column;
  border-color: #ffff;
  background-color: #707070;
  flex-basis: 500px;
  margin: 0px;
}

.game-header {
  font-size: xx-large;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  order: 1;
}

.info-product {
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
  order: 2;
}

.discover_cta-small {
  order: 3;
  width: 50px;
  align-self: center;
}

.discover_header {
  order: 1;
}

.discover img {
  width: 500px;
  margin: 0px;
  justify-items: left;
}

/* NEWS */

.news {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1fr);
  padding: 20px 10px;
  margin: 50px 5px;
  grid-gap: 50px 70px;
}

.news h2 {
  grid-column: -1/1;
}

.news > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-auto-rows: minmax(70px 100px);
}

.news img {
  width: 100%;
  grid-column: -1/1;
}

.news_products a {
  grid-column: 1;
  padding: 10px;
  width: 100px;
}

.news_products p {
  grid-column: 4;
  justify-items: end;
  width: 80px;
}

/* PRE-PURCHASE */

.pre-purchase {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1fr);
  padding: 50px 5px;
  margin: 50px 5px;
  grid-gap: 50px 70px;
}

.pre-purchase h2 {
  grid-column: -1/1;
}

.pre-purchase > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-auto-rows: minmax(70px 100px);
}

.pre-purchase img {
  width: 100%;
  border: 1px solid;
  border-color: #f06332;
  grid-column: -1/1;
}

.pre-purchase_products a {
  grid-column: 1;
  padding: 10px;
  position: relative;
  left: 30px;
  width: 80px;
}

.pre-purchase_products p {
  grid-column: 4;
  justify-items: end;
  width: 80px;
}

/* SELL PAGE */

.sell-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sell_gametext {
  display: flex;
  flex-direction: column;
  border-color: #ffff;
  background-color: #707070;
  flex-basis: 500px;
  margin: 0px;
}

.game-header {
  font-size: xx-large;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  order: 1;
}

.info-product {
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
  order: 2;
}

.sell_cta-small {
  order: 3;
  width: 50px;
  align-self: center;
}

.sell img {
  width: 500px;
  margin: 0px;
  justify-items: left;
}

/* links */
a {
  text-decoration: none;
}

/* footer */
footer {
  color: #ffff;
  text-align: left;
}

/* media */

@media (min-width: 600px) {
  .welcome {
    min-height: 60vh;
  }

  .fa-heart {
    left: 700px;
    font-size: 20px;
  }
  .fa-shopping-bag {
    left: 740px;
    font-size: 20px;
  }
  .welcome_content {
    top: 200px;
    left: 500px;
  }
  .cta_big {
    font-size: 0.8em;
  }
  .discover_gametext {
    flex-basis: 800px;
  }
  .discover img {
    width: 590px;
  }

  .discover-container {
    justify-content: left;
  }

  .hot-now {
    grid-template-columns: repeat(2, 1fr);
  }

  .discover-container {
    flex-wrap: nowrap;
    position: relative;
  }

  .discover_gametext {
    flex-basis: 90x;
    height: 280px;
    flex-direction: row;
  }

  .discover img {
    width: 500px;
  }

  .info-product {
    font-size: 0.2em;
    width: 250px;
    position: absolute;
    left: 550px;
    top: 50px;
  }

  .discover_cta-small {
    order: 3;
    width: 20px;
    align-self: center;
    position: absolute;
    left: 630px;
    top: 170px;
  }

  .game-header {
    font-size: 1em;
    position: absolute;
    left: 620px;
    top: 10px;
  }

  .info-product {
    font-size: 1em;
  }

  .news {
    grid-template-columns: repeat(2, 1fr);
  }

  .pre-purchase {
    grid-template-columns: repeat(2, 1fr);
  }

  .sell-container {
    flex-wrap: nowrap;
    position: relative;
  }

  .sell_gametext {
    flex-basis: 90x;
    height: 280px;
    flex-direction: row;
  }

  .sell img {
    width: 500px;
  }

  .sell_cta-small {
    order: 3;
    width: 20px;
    align-self: center;
    position: absolute;
    left: 630px;
    top: 170px;
  }
}

@media (min-width: 890px) {
  h1 {
    width: 500px;
    text-align: start;
  }

  h2 {
    font-size: 1.8em;
  }

  .fa-heart {
    left: 1300px;
    font-size: 20px;
  }

  .fa-shopping-bag {
    left: 1340px;
    font-size: 20px;
  }

  .hot-now {
    grid-template-columns: repeat(3, 1fr);
  }

  nav {
    display: block;
  }

  .discover-container {
    flex-wrap: nowrap;
    position: relative;
  }

  .discover img {
    width: 900px;
  }

  .discover_gametext {
    flex-basis: 900px;
    flex-direction: column;
    height: 505px;
  }

  .info-product {
    position: absolute;
    left: 1015px;
    top: 100px;
  }
  .discover_cta-small {
    position: absolute;
    left: 1060px;
    top: 250px;
  }

  .game-header {
    position: absolute;
    left: 1015px;
    top: 40px;
    font-size: x-large;
  }

  .sell-container {
    flex-wrap: nowrap;
    position: relative;
  }

  .sell img {
    width: 900px;
  }

  .sell_gametext {
    flex-basis: 900px;
    flex-direction: column;
    height: 505px;
  }

  .info-product {
    position: absolute;
    left: 1000px;
    top: 100px;
  }
  .sell_cta-small {
    position: absolute;
    left: 1055px;
    top: 250px;
  }

  .news {
    grid-template-columns: repeat(4, 1fr);
  }

  .pre-purchase {
    grid-template-columns: repeat(3, 1fr);
  }

  .welcome {
    background-size: cover;
    min-height: 90vh;
  }

  .welcome_content {
    top: 400px;
    left: 1000px;
  }

  .welcome h1 {
    font-size: 1em;
    width: 400px;
  }

  .cta_big {
    font-size: 2em;
  }

  .hamburger-menu_nav {
    display: none;
  }

  .mainheader {
    justify-content: left;
  }

  .fa-bars {
    display: none;
  }

  .cta-small {
    font-size: 1em;
    padding: 10px 50px;
    width: 60px;
  }
}
