body {
  font-family: "Avenir Next";
}

h1 {
  color: #707070;
  font-size: small;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

.menu__profile li {
  display: inline-block;
}

.menu__profile ul {
  padding: 0px;
  float: right;
}

.menu__profile a {
  color: #f06332;
}

.mainheader {
  background: #404040;
  min-height: 50px;
  border: 1px solid;
  border-color: white;
  margin: 5% 0%;
}

.mainheader {
  display: flex;
  align-items: center;
}

.menu a {
  color: #f06332;
  padding: 10px;
}

.menu li {
  display: inline-block;
}

.menu ul {
  padding: 0px;
  margin-left: 60px;
}

.topheader a {
  color: #f06332;
  padding: 10px;
}

.logo {
  max-width: 100px;
}

body {
  background-color: #282828;
}

/* Homepage */

.welcome {
  background-image: url("images/Header-image.jpg");
  background-size: cover;
  min-height: 90vh;
  position: relative;
}

.welcome_content {
  position: absolute;
  text-align: right;
  top: 400px;
  left: 600px;
}

.welcome_content p {
  font-size: 1.2em;
  margin: 50px 0px;
}

.welcome p {
  color: white;
}

.cta_big {
  color: white;
  text-transform: uppercase;
  background-color: #138ba5;
  padding: 10px 70px;
  font-size: 2em;
}

.hot-now,
.discover,
.news,
.pre-purchase,
.sell__homepage {
  color: white;
}

h2 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
}

/* links */
a {
  text-decoration: none;
}
